<ion-content color="light">

  <!-- Custom header component with dynamic title based on whether a task exists -->
  <app-header color="light" [centerTitle]=true [isModal]=true [title]="task ? 'Task' : 'New Task'"></app-header>

  <!-- Custom input component for the task title -->
  <app-custom-input [control]="form.controls.title" type="text" label="Title"></app-custom-input>
  <!-- Validation messages for the title input -->
  <div class="validators" *ngIf="form.controls.title.errors && form.controls.title.dirty">
    <div *ngIf="form.controls.title.errors?.['required']">This field is required</div>
    <div *ngIf="form.controls.title.errors?.['minlength']">This field requires at least 4 characters</div>
  </div>

  <!-- Custom input component for the task description -->
  <app-custom-input [control]="form.controls.description" type="textarea" label="Description"></app-custom-input>
  <!-- Validation messages for the description input -->
  <div class="validators" *ngIf="form.controls.description.errors && form.controls.description.dirty">
    <div *ngIf="form.controls.description.errors?.['required']">This field is required</div>
    <div *ngIf="form.controls.description.errors?.['minlength']">This field requires at least 4 characters</div>
  </div>

  <!-- Section for task activities -->
  <ion-item class="item-header" lines="none"> 
      <ion-label>Activities</ion-label>
      <!-- Display progress percentage if there are items -->
      <span slot="end" *ngIf="form.value.items.length">
        Progress: {{ getPercetage() }}%
      </span>
      <!-- Button to add a new item -->
      <ion-button (click)="createItem()" slot="end" mode="ios">
          <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
  </ion-item>

  <!-- Range component to display progress percentage -->
  <ion-range [value]="getPercetage()"></ion-range>

  <!-- Reorder group for task items -->
  <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <!-- Loop through the task items and display each item -->
      <div *ngFor="let item of form.value.items; index as i">
        <ion-item lines="none">
          <!-- Checkbox to mark item as completed -->
          <ion-checkbox slot="start" color="success" [(ngModel)]="item.completed"></ion-checkbox>
          <!-- Item name -->
          <ion-label class="ion-text-wrap">
              {{ item.name }} 
          </ion-label>
          <!-- Button to remove the item -->
          <ion-buttons slot="end">
            <ion-button (click)="removeItem(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <!-- Reorder handle for the item -->
        <ion-item class="item-reorder">
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </div>
  </ion-reorder-group>    

</ion-content>

<ion-footer>
<div class="ion-text-center">
  <!-- Button to submit the form, disabled if the form is invalid -->
  <ion-button class="ion-margin" mode="ios" [disabled]="form.invalid" (click)="submit()" shape="round">
    {{ task ? 'Save Changes' : 'Create Task' }}
  </ion-button>
</div>
</ion-footer>